<ion-row>
  <ion-col class="ion-text-center">
    <h3>Seleccione Avatar</h3>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <swiper [config]="avatarOps" #sliderAvatar>
      <ng-template swiperSlide *ngFor="let avatar of avatars;let i = index">
        <ion-img class="pick-avatar"
                 src="/assets/avatars/{{avatar.img}}"
                 [ngClass]="{'pick-avatar-seleccionado':avatar.seleccionado}"
                 (click)="seleccionarAvatar(avatar,i)"></ion-img>
      </ng-template>
    </swiper>
  </ion-col>
</ion-row>